<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888045212736-sup0c8r5g3npf58i7ii95550dkn4mhvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888045212736-sup0c8r5g3npf58i7ii95550dkn4mhvc</string>
	<key>API_KEY</key>
	<string>AIzaSyAu7rVfcU6E6LF_5wfmF0DMInbApmb4OpY</string>
	<key>GCM_SENDER_ID</key>
	<string>888045212736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohit.gupta.SnapChat-Clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-869ea</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-869ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:888045212736:ios:1b98ef2aefe5b81b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-869ea.firebaseio.com</string>
</dict>
</plist>